section{
  font-family: 'Signika', sans-serif;
}
.head{
  margin-left: 20%;
  margin-right: 20%;
}
#snap{
  color: #13adad;
  font-size: 40px;
}
#full-snap{
  color: black;
  font-size: 25px;
}
.first-cont{
  background-color:white;
}
.logo{
  width: auto;
  height: 40px;
  margin-left: 10px;
}
.second-cont{
  font-size: 30px;
  color: #000000;
  background-image: url('../images/back_.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 500px;;
}
#apply{
  font-size: 40px;
  color: #154b55;
}
#people{
  width: 90px;
  height: auto;
  margin-left: 30px;
}
.skill{
  color: #154b55;
  font-size: 20px;
}
.third-cont{
  font-size: 20px;
}
#one{
  color:#825653;
}
#two{
  color:#10c9c9;
}
#third{
  color:#99671d;
}
.main-div{
  position: relative;
}
.sub-div{
  position: absolute;
  bottom: 0px;
  margin-left: 20%;
}
#image{
  border-radius: 50%;
  width: 150px;
  height: auto;
}
#name{
  color: #13adad;
}
.instructors{
  background-color:#faf1e6;
}
